.dashboard {
  background: #c5c5c5;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#pic {
  margin-right: auto;
}

img#pic {
  width: 30%;
  border-radius: 50%;
  transition: 0.5s;
}

.AdminContainer {
  display: flex;
  font-family: var(--chakra-fonts-body);
  text-align: left;
  background-color: #121212;
  color: white;
  width: 100%;
  height: fit-content;
  margin: auto;
  margin-top: 1rem;
  border-radius: 10px;
  max-height: 600px;
  padding: 25px;
  transition: 1s;
}

.AdminContainer p {
  color: #797979;
}

.AdminContainer p:hover {
  color: white;
  transition: 1s;
}

.AdminCard {
  height: 100%;
  width: 300px;
  background-color: rgb(32, 32, 32);
  padding: 30px;
  border-radius: 10px;
}

.Admininfo {
  color: red;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.5s;
}

li {
  text-decoration: none;
}