@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Oxygen&display=swap');

.dashboard {
  background: #c5c5c5;
  overflow-x: hidden;
  height: 100vh;
  font-family: 'Julius Sans One', 'Oxygen', sans-serif;
}

.hero-class {
  background-color: #121212;
  border-radius: 10px;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 1rem;
}

#pic {
  margin-right: auto;
}

img#pic {
  width: 30%;
  border-radius: 50%;
  transition: 0.5s;
}

.hero {
  width: min-content;
  margin-left: 25px;
}

.AdminContainer {
  width: 30vw;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--chakra-fonts-body);
  background-color: #121212;
  color: white;
  transition: 1s;
  background-color: rgb(59, 59, 59);
}

.AdminContainer p {
  color: #797979;
}

.AdminContainer p:hover {
  color: white;
  transition: 1s;
}

.AdminCard {
  width: 90%;
  background-color: #202020;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Schedule {
  color: white;
  background-color: rgb(32, 32, 32);
  text-align: center;
  padding: 20px;
  width: 90%;
  border-radius: 10px;
}

.Schedule table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}