footer{
  margin-top: 10px;
}
.footer-content a {
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.footer-content a:hover {
  transform: translateY(-3px);
}

.footer-content img {
  max-width: 48px;
  height: auto;
  display: block;
}

.footer-content a:hover img {
  filter: brightness(80%);
}

/* Media Queries */

@media screen and (max-width: 920px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-content div {
    margin-right: 0;
  }

  .footer-content a {
    margin: 5px 0;
  }
}
