@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

#top {
  text-align: center;
  background-color: #00000050;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  backdrop-filter: blur(10px);
}

#top button {
  background-color: #ffffff8f;
  font-family: "Oxygen", sans-serif;
  color: #000000;
  border: none;
  font-size: 20px;
  font-weight: 1000;
  padding: 10px;
  margin: 10px;
}

.landing {
  background-color: black;
  padding: 1px;
}

.landing h1 {
  background-image: url("https://img.freepik.com/free-photo/bird-colorful-colorful-flowers-generative-ai_206725-752.jpg?size=626&ext=jpg");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6rem;
}

.banner {
  height: 150vh;
  background-image: url("../assets/top.jpeg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

.portal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/bottom.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.portal button {
  height: fit-content;
  background-color: transparent;
  border: none;
  margin: 20px;
  padding-bottom: 0;
  width: fit-content;
  aspect-ratio: 1/1;
}

.portal button img {
  width: 80%;
  filter: drop-shadow(0 0 0.75rem #000000);
}

@media screen and (max-width: 992px) {
  .landing h1 {
    font-weight: 1000;
  }
  .portal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
  }
  .portal button {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
  }
  .portal button img {
    width: 60%;
    filter: drop-shadow(0 0 0.75rem #000000);
  }
}
