@import url("https://fonts.googleapis.com/css2?family=Itim&family=Julius+Sans+One&display=swap");

body {
  min-height: 100vh;
}
button {
  cursor: pointer;
}
a {
  cursor: pointer;
}
body::-webkit-scrollbar {
  display: none;
}
.arrow {
  animation: bounce 0.7s infinite alternate;
}
.itim {
  font-family: "Itim", cursive;
}

.julius {
  font-family: "Julius Sans One", sans-serif;
}

@keyframes bounce {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}
