.admin-login {
  background-size: cover;
  background-color: rgb(189, 185, 185);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}

.back {
  font-size: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.back h1 {
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
  height: 100%;
  font-family: fantasy;
}

#student-back {
  background-image: url("../assets/trees-6207925.jpg");
  box-shadow: 10px 100px 20px #2b5e6f;
}

#admin-back {
  background-image: url("../assets/moon-2048727.jpg");
  box-shadow: 5px 100px 20px 50px black;
}
.admin-form {
  opacity: 0.9;
  transition: 0.5s;
  color: white;
}

form.admin-form {
  padding: 40px;
  border-radius: 5px;
  min-height: fit-content;
  width: 90%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form#stud-form {
  background-color: #2b5e6f;
}
form#admin-form {
  background-color: #101010;
}
label {
  font-weight: light;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
  color: black;
}
input[type="radio"] {
  margin: 10px;
  width: 30%;
  height: 15px;
}

input[type="submit"] {
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #006bdd;
}
button.student-switch {
  height: 50px;
  color: antiquewhite;
  background-color: rgb(28, 31, 30);
  border-radius: 20px;
  border: none;
  width: 150px;
  font-size: 15px;
  cursor: pointer;
}
/* Media Queries */
@media screen and (max-width: 768px) {
  form.login-form {
    max-width: 100%;
  }
  .student-switch {
    width: 100%;
    margin-top: 10px;
  }
}
